html, body {
    min-height: 100%;
}

body {
    background-color: black;
    color: white;
    overflow-x: hidden;
}

label {
    font-size: 22px;
}

.jumbotron {
    background-color: rgba(0,0,0,0);
}

.range-label {
    display: inline;
}

.hidden {
    display: none;
}

#orderForm {
    padding: 20px;
}

#orderForm button, img {
    margin: 5px;
}