{% extends 'base.html' %}

{% block body %}

<div id="orderForm" class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 jumbotron">
        <h1 class="display-4">Generate Music Using Markov Chains</h1>
        <p class="lead">
            Generates MIDI files using an nth order Markov Chain trained on classical piano music. 
            For more information, see <a href="#" target="_blank">my article</a>.
        </p>
        <p class="lead">Composers currently in training data: <span class="font-weight-bold">Chopin, Beethoven</span></p>
        <hr>

        <div class="form-group">
            <label for="order">Markov Model order</label>
            <select class="form-control" id="order" value="4">
                <option>1</option>
                <option>2</option>
                <option selected="selected">3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
            </select>
        </div>
        <button type="submit" id="generateMidi" class="btn btn-primary">Generate new MIDI file</button>
        <div id="loading" class="hidden">
            <p>Generating music...</p>
            <img src="static/images/loading.gif" width="50" height="50">
        </div>

        <button id="playMIDI" class="btn btn-outline-light">Play Generated MIDI File</button>
        <button id="stopMIDI" class="btn btn-outline-light">Stop MIDI Playback</button>
    </div>
    <div class="col-sm-2"></div>
</div>


{% endblock %}